html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #414141;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

*, a:focus {
  outline: none !important;
}

img {
  max-width: 100%;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.section__inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-similar {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.btn-color {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4fa7));
  background: -webkit-linear-gradient(left, #fe985b 0%, #fe4fa7 100%);
  background: -o-linear-gradient(left, #fe985b 0%, #fe4fa7 100%);
  background: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
  padding: 15px 50px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  border: 1px solid #979797;
  padding: 15px 50px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #414141;
}

/*** header ***/
.section-header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  position: relative;
}

.section-header .section__inner {
  height: 100vh;
  position: relative;
  z-index: 10;
}

.section-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(20, 39, 41, 0.47);
  z-index: 5;
}

.section-header-logo {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  padding-top: 35px;
}

.section-header-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-content-wrapper {
  margin: 0 auto;
}

.section-header-content-wrapper__title, .section-header-content-wrapper__subtitle {
  text-align: center;
}

.section-header-content-wrapper__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 16px;
}

.section-header-content-wrapper__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin: 0 auto 44px;
  width: 65%;
}

.section-header-content-wrapper__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-header-content-wrapper__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 40px;
}

.section-header-content-wrapper__input input {
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
}

.section-header-content-wrapper__input input::-webkit-input-placeholder {
  color: #fff;
}

.section-header-content-wrapper__input input:-ms-input-placeholder {
  color: #fff;
}

.section-header-content-wrapper__input input::-ms-input-placeholder {
  color: #fff;
}

.section-header-content-wrapper__input input::placeholder {
  color: #fff;
}

@media (max-width: 568px) {
  .section-header-content-wrapper__title {
    font-size: 40px;
  }
  .section-header-content-wrapper__subtitle {
    width: 100%;
  }
  .section-header-content {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .section-header-content-wrapper__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-header .btn-color {
    width: 100%;
  }
  .section-header-content-wrapper__input {
    margin-bottom: 10px;
  }
  .section-header {
    padding-bottom: 80px;
  }
  .section-header-content-wrapper__input {
    padding-right: 0;
  }
  .section-header {
    height: 600px;
  }
}

/***end header ***/
/*** promo ***/
.section-promo {
  padding: 120px 0;
}

@media (max-width: 767px) {
  .section-promo {
    padding: 20px 0;
  }
}

.section-promo-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-promo-1__content {
  color: #414141;
  padding-right: 90px;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.section-promo-1__content .title {
  font-size: 32px;
  line-height: 51px;
  font-weight: 700;
  margin-bottom: 56px;
}

.section-promo-1__content .subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 14px;
}

.section-promo-1__content .text {
  margin-bottom: 30px;
}

.section-promo-1__content .text:last-child {
  margin-bottom: 0;
}

.section-promo-1__video {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

@media (max-width: 767px) {
  .section-promo-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-promo-1__video {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
    width: 78%;
    margin: 0 auto;
  }
  .section-promo-1__content {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 568px) {
  .section-promo-1 .title {
    font-size: 19px;
    text-align: center;
    margin: 20px 0 20px;
    line-height: 22px;
    font-weight: 900;
  }
  .section-promo-1 .subtitle {
    text-align: center;
  }
}

.section-promo-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
  text-align: center;
}

.section-promo-2-item .icon {
  margin-bottom: 20px;
}

.section-promo-2-item .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
}

.section-promo-2-item + .section-promo-2-item {
  margin-left: 40px;
}

@media (max-width: 568px) {
  .section-promo-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    margin-top: 0;
  }
  .section-promo-2-item + .section-promo-2-item {
    margin-left: 0;
  }
  .section-promo-2-item {
    margin-bottom: 20px;
  }
}

/*** end promo ***/
/*** section-founder ***/
.section-founder {
  background-color: #f6fafd;
  padding-top: 34px;
}

.section-founder-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-founder-img {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.section-founder-img img {
  max-width: none;
}

.section-founder-content {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  color: #414141;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  padding-left: 50px;
}

.section-founder-name {
  font-weight: 700;
}

.section-founder-text {
  line-height: 40px;
}

@media (max-width: 767px) {
  .section-founder {
    display: none;
  }
}

/*** section-founder end***/
/*** section-plans***/
.section-plans {
  padding-top: 120px;
  padding-bottom: 150px;
  text-align: center;
}

.section-plans-title {
  font-size: 36px;
  line-height: 51px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section-plans-subtitle {
  margin: 0 auto 60px;
  width: 55%;
}

.section-plans-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-plans-list-item {
  padding: 60px 45px;
  -webkit-flex-basis: 370px;
      -ms-flex-preferred-size: 370px;
          flex-basis: 370px;
}

.section-plans-list-item-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.section-plans-list-item span {
  color: #fe4fa7;
  font-size: 72px;
  font-weight: 700;
}

.section-plans-list-item-price {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 26px;
}

.section-plans-list-item-description {
  margin-bottom: 50px;
}

.section-plans-list-item.active {
  background-color: #f6fafd;
}

@media (max-width: 568px) {
  .section-plans {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.section-plans-subtitle {
  width: 100%;
  margin: 0 auto 20px;
}

.section-plans-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*** section-plans end***/
/*** section-free ***/
.section-free {
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4fa7));
  background: -webkit-linear-gradient(left, #fe985b 0%, #fe4fa7 100%);
  background: -o-linear-gradient(left, #fe985b 0%, #fe4fa7 100%);
  background: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
  color: #fff;
  padding: 120px 0;
}

.section-free-box {
  text-align: center;
}

.section-free-title {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section-free-decription {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 60%;
  margin: 0 auto 40px;
}

.section-free .correct {
  border: none;
  color: #464646;
}

@media (max-width: 767px) {
  .section-free-title {
    font-size: 38px;
  }
  .section-free-decription {
    width: 100%;
  }
  .section-free {
    padding: 20px 0;
  }
}

/*** section-free end  ***/
/*** section-footer ***/
.section-footer {
  padding: 86px 0 93px;
  color: #464646;
}

.section-footer-logo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.section-footer .item-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.section-footer .list-item:hover {
  color: #fe50a6;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.section-footer .list-item + .list-item {
  margin-left: 5%;
}

@media (max-width: 767px) {
  .section-footer {
    padding: 20px 20px;
  }
}

.section-footer-helper-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.section-footer-helper-list .list-item + .list-item {
  margin-left: 30px !important;
}

.section-footer-helper-list .facebook {
  position: relative;
}

.section-footer-helper-list .facebook::after {
  content: '\f082';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
}

.section-footer-helper-list .twitter {
  position: relative;
}

.section-footer-helper-list .twitter::after {
  content: '\f081';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
}

.section-footer-helper-list .linkedin {
  position: relative;
}

.section-footer-helper-list .linkedin::after {
  content: '\f08c';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
}

.section-footer-helper-list .instagram {
  position: relative;
}

.section-footer-helper-list .instagram::after {
  content: '\f081';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
}

.section-footer-helper-list .youtobe {
  position: relative;
}

.section-footer-helper-list .youtobe::after {
  content: '\f16d';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
}

.section-footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-footer-copyright-text,
.section-footer-copyright .item-copyright-link {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
}

.section-footer-copyright-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-footer-copyright-text {
  margin-right: 20px;
}

.section-footer-copyright-text {
  line-height: 20px;
}

/*** section-footer-end ***/
